@model Project

<div class="project-card">
    <div class="card-header">
        <div class="img-container">
            <img src="~/images/ProjectImage.svg" alt="">
        </div>
        <div class="project-title">
            <h6>@Model.ProjectName</h6>
            <p>@Model.ClientName</p>
        </div>
        <div class="btn-container">
            <button class="btn-menu" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li class="edit">
                    <i class="bi bi-pencil-fill"></i>
                    <a data-project-id="@Model.Id" data-modal="true" data-target="#edit-project" class="dropdown-item edit-project-btn" href="">Edit</a>
                </li>
                <li class="delete">
                    <form id="delete-form" method="post" asp-action="delete" asp-controller="Projects" asp-route-id="@Model.Id">
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-trash"></i>Delete Project
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="project-info">
        <p>@Model.Description</p>
    </div>
</div>